body{
	font-family: "Outfit", sans-serif;
	text-align: center;
	background-image: url(https://img.freepik.com/premium-photo/film-grain-grunge-old-texture-background-black-white-film-strip-with-grainy-texture-vintage_846204-1459.jpg);
}


.container{
	padding: 20px;
	box-shadow: 10px 10px 40px 0px;
	border-radius: 20px;
	margin-top: 100px;
	width: 1000px;
}

div {
	margin: 20px;
	padding: 15px;
	background-color:#E0E0E0	;
	color: #38333F;
}

div.footer {
	margin: 0px;
	padding: 0px;
}

 .row {
      gap: 12px; 
    }

    .col-md-4 {
      padding: 0 5px; 
    }

    .details-container {
      margin-bottom: 10px; 
    }
